article p {
    font-size: 115%;
}

article p.postDate {
    color: #555;
    font-size: 85%;
}

article {
    margin-bottom: 5em;
    /*border-bottom: 1px solid #999;*/
}

div.header {

}

div.page-header h1 {
    font-variant: small-caps;
}

div.header a {
}

div.about h1 {
    font-variant: small-caps;
    font-size: 125%;
    font-weight: bold;
}

.about ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

.about ul li:before {
    content: "\2192 \0020";
}
