@(message: String)

@main("Hi, Tim, Welcome to Play 2.0") {

@for(post <- BlogPost.findAll2()) {
    <article>
        <header>
            <h1>
                <a href="#" rel="bookmark" title="link to this post">@post.title</a>
            </h1>
            <p class="postDate">@org.joda.time.format.DateTimeFormat.forPattern("EEEE, dd MMMM yyyy").print(post.postDate)</p>
        </header>
        <p>
            @Html(post.post)
        </p>
    </article>
}

@****    @play20.welcome(message) ***@

}
